{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <!-- start banner Area -->
    <section class="relative about-banner">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Blog Details Page
                    </h1>
                    <p class="text-white link-nav"><a href="{% url 'portfolio:home' %}">Home </a> <span
                            class="lnr lnr-arrow-right"></span><a href="{% url 'portfolio:bloghome' %}">Blog </a> <span
                            class="lnr lnr-arrow-right"></span> <a href="{% url 'portfolio:blogsingle' %}"> Blog Details Page</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start post-content Area -->
    <section class="post-content-area single-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="{{ object.blog_image.url }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3 meta-details">
                            {{ object.tag|safe }}
                            <div class="user-details row">
                                <p class="user-name col-lg-12 col-md-12 col-6"><a href="#">{{ object.Name }}</a> <span
                                        class="lnr lnr-user"></span></p>
                                <p class="date col-lg-12 col-md-12 col-6"><a href="#">{{ object.date }}</a> <span
                                        class="lnr lnr-calendar-full"></span></p>
                                <p class="view col-lg-12 col-md-12 col-6"><a href="#">{{ object.views }}</a> <span
                                        class="lnr lnr-eye"></span></p>
                                <p class="comments col-lg-12 col-md-12 col-6"><a href="#">{{ object.comments }}</a>
                                    <span
                                            class="lnr lnr-bubble"></span></p>
                                <ul class="social-links col-lg-12 col-md-12 col-6">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <h3 class="mt-20 mb-20">{{ object.blog_title }}</h3>
                            {{ object.blog_description|safe }}
                        </div>
                        <div class="col-lg-12">
                            <div class="quotes">
                                {{ object.quotes }}
                            </div>
                            <div class="row mt-30 mb-30">
                                <div class="col-6">
                                    <img class="img-fluid" src="{{ object.sample_image.url }}" alt="">
                                </div>
                                <div class="col-6">
                                    <img class="img-fluid" src="{{ object.sample_image2.url }}" alt="">
                                </div>
                                <div class="col-lg-12 mt-30">
                                    <p>
                                        {{ object.quotes }}
                                    </p>
                                    <p>
                                        {{ object.quotes }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            {% for i in blog_single_post %}
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">

                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="{{ i.image.url }}" alt=""></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="{{ i.direction }}"></span></a>
                                    </div>
                                    <div class="detials">
                                        <p>{{ i.post }}</p>
                                        <a href="#"><h4>{{ i.description }}</h4></a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="comments-area">
                        {% for head in heading %}
                            <h4>{{ head.blog_comment_heading }}</h4>
                        {% endfor %}
                        <div class="comment-list">
                            {% for comment in blog_single_comment %}
                                <div class="single-comment justify-content-between d-flex">

                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{{ comment.image.url }}" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">{{ comment.name }}</a></h5>
                                            <p class="date">{{ comment.date }}</p>
                                            <p class="comment">
                                                {{ comment.comment }}
                                            </p>
                                        </div>
                                    </div>

                                    <div class="reply-btn">
                                        <a href="" class="btn-reply text-uppercase">{{ comment.reply }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="comment-form">
                        {% for leave in blog_single_leave_comment %}
                            <h4>{{ leave.comment_heading }}</h4>
                            <form>
                                <div class="form-group form-inline">
                                    <div class="form-group col-lg-6 col-md-12 name">
                                        <input type="text" class="form-control" id="name" placeholder="Enter Name"
                                               onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = '{{ leave.enter_name }}'">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-12 email">
                                        <input type="email" class="form-control" id="email"
                                               placeholder="Enter email address" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = '{{ leave.enter_mail }}'">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = '{{ leave.subject }}'">
                                </div>
                                <div class="form-group">
                                <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
                                          onfocus="this.placeholder = ''"
                                          onblur="this.placeholder = '{{ leave.messege }}'"
                                          required=""></textarea>
                                </div>
                                <a href="#" class="primary-btn text-uppercase">{{ leave.post_comment }}</a>
                            </form>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4 sidebar-widgets">
                    <div class="widget-wrap">
                        {% for search in blog_search_post %}
                            <div class="single-sidebar-widget search-widget">
                                <form class="search-form" action="#">
                                    <input placeholder="Search Posts" name="search" type="text"
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder ='{{ search.placeholder }}'">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="single-sidebar-widget user-info-widget">
                                <img src="{{ search.image.url }}" alt="">
                                <a href="#"><h4>{{ search.name }}</h4></a>
                                <p>
                                    {{ search.post }}
                                </p>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                                <p>
                                    {{ search.description }}
                                </p>
                            </div>
                        {% endfor %}
                        <div class="single-sidebar-widget popular-post-widget">
                            {% for head in heading %}
                                <h4 class="popular-title">{{ head.popular_post_heading }}</h4>
                            {% endfor %}
                            <div class="popular-post-list">
                                {% for post in blog_popular_post %}
                                    <div class="single-post-list d-flex flex-row align-items-center">
                                        <div class="thumb">
                                            <img class="img-fluid" src="{{ post.image.url }}" alt="">
                                        </div>
                                        <div class="details">
                                            <a href="{% url 'blogsingle' %}"><h6>{{ post.name }}</h6></a>
                                            <p>{{ post.post_time }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="single-sidebar-widget ads-widget">
                            <a href="#"><img class="img-fluid" src="{% static 'img/blog/ads-banner.jpg' %}" alt=""></a>
                        </div>
                        <div class="single-sidebar-widget post-category-widget">
                            {% for head in heading %}
                                <h4 class="category-title">{{ head.post_category_heading }}</h4>
                            {% endfor %}
                            <ul class="cat-list">
                                {% for category in blog_home_category %}
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>{{ category.category_name }}</p>
                                            <p>{{ category.number_of_product }}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="single-sidebar-widget newsletter-widget">
                            {% for news in blog_home_newsletter %}
                                <h4 class="newsletter-title">{{ news.heading }}</h4>
                                <p>
                                    {{ news.description }}
                                </p>
                                <div class="form-group d-flex flex-row">
                                    <div class="col-autos">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-envelope"
                                                                                 aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="inlineFormInputGroup"
                                                   placeholder="Enter email" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = '{{ news.email }}'">
                                        </div>
                                    </div>
                                    <a href="#" class="bbtns">{{ news.subcribe }}</a>
                                </div>
                                <p class="text-bottom">
                                    {{ news.subcribe_description }}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="single-sidebar-widget tag-cloud-widget">
                            {% for head in heading %}
                                <h4 class="tagcloud-title">{{ head.blog_single_tag_heading }}
                                </h4>
                            {% endfor %}
                            {% for tag in blog_single_tag_cloud %}
                                <ul>
                                    <li><a href="#">{{ tag.technology }}</a></li>
                                    <li><a href="#">{{ tag.fashion }}</a></li>
                                    <li><a href="#">{{ tag.Architecture }}</a></li>
                                    <li><a href="#">{{ tag.fashion }}</a></li>
                                    <li><a href="#">{{ tag.Food }}</a></li>
                                    <li><a href="#">{{ tag.technology }}</a></li>
                                    <li><a href="#">{{ tag.Lifestyle }}</a></li>
                                    <li><a href="#">{{ tag.Art }}</a></li>
                                    <li><a href="#">{{ tag.Adventure }}</a></li>
                                    <li><a href="#">{{ tag.Food }}</a></li>
                                    <li><a href="#">{{ tag.Lifestyle }}</a></li>
                                    <li><a href="#">{{ tag.Adventure }}</a></li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End post-content Area -->

{% endblock %}