{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <!-- start banner Area -->
    <section class="about-banner">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Portfolio
                    </h1>
                    <p class="text-white link-nav"><a href="{% url 'portfolio:home' %}">Home </a> <span
                            class="lnr lnr-arrow-right"></span> <a href="{% url 'portfolio:portfolio' %}"> Portfolio</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start portfolio-area Area -->
    <section class="portfolio-area section-gap" id="portfolio">
        <div class="container">
            <div class="row d-flex justify-content-center">

                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Our Latest Featured Projects</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                    </div>

            </div>

            <div class="filters">
                <ul>
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".vector">Vector</li>
                    <li data-filter=".raster">Raster</li>
                    <li data-filter=".ui">UI/UX</li>
                    <li data-filter=".printing">Printing</li>
                </ul>
            </div>
            <div class="filters-content">
                <div class="row grid">
                    {% for product in feature %}
                        <div class="single-portfolio col-sm-4 all vector">
                            <div class="relative">
                                <div class="thumb">
                                    <div class="overlay overlay-bg"></div>
                                    <img class="img-fluid" src="{{ product.image.url }}" alt="">
                                </div>
                                <a href="{{ product.image.url }}" class="img-pop-up">
                                    <div class="middle">
                                        <div class="text align-self-center d-flex"><img
                                                src="{{ product.previous_img.url }}"
                                                alt=""></div>
                                    </div>
                                </a>
                            </div>
                            <div class="p-inner">
                                <h4>{{ product.title }}</h4>
                                <div class="cat">{{ product.category }}</div>
                            </div>
                        </div>
                    {% endfor %}
                                    </div>
            </div>

        </div>
    </section>
    <!-- End portfolio-area Area -->

{% endblock %}