version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4

    steps:
      - checkout  # checkout source code to working directory
      - run:
          command: sudo pip install -r requirement.txt
      - run:
          command: coverage run manage.py test
